<style>
    table,tr,td,th{
        border: solid black 1px;
    }
</style>
<a href="/api/traguito/crear">
<button>Crear</button>
</a>
<table>
    <tr>
        <th>Nombre</th>
        <th>Grados</th>
        <th>Caduca</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Acciones</th>
    </tr>
    <% arregloTragos.forEach((trago)=>{ %>
    <tr>
        <td> <%=trago.nombre%> </td>
        <td> <%=trago.gradosAlcohol%> </td>
        <td> <%=trago.fechaCaducidad%> </td>
        <td> <%=trago.precio%> </td>
        <td> <%=trago.tipo%> </td>
        <td>
            <button>Editar</button>
            <input id="id" name="id" type="text" value="trago.id" hidden>
            <form action="/api/traguito/eliminar"
                  method="post">
            <button>Eliminar</button>
            </form>

        </td>
    </tr>
    <% })%>
</table>